{
  "openapi": "3.0.3",
  "info": {
    "title": "SmartRetry Terminal API",
    "description": "Payment gateway terminal service for SmartRetry. Authorize, capture, refund, and void payments, and manage recurring plans and their scheduled future transactions.\n\nAll requests authenticate with the `x-api-key` header. The sandbox and production environments share this base URL - your API key and terminal ID determine which environment you target.",
    "version": "1.0.0",
    "contact": {
      "name": "SmartRetry Support",
      "url": "https://www.smartretry.com/contact"
    }
  },
  "servers": [
    {
      "url": "https://terminal.smartretry.com",
      "description": "Production and sandbox"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "payments",
      "description": "Direct payment operations \u2014 Sale, Preauth, Capture, Refund, Void, and Status."
    },
    {
      "name": "recurring",
      "description": "Recurring payment lifecycle \u2014 init, charge, update, cancel, and status."
    },
    {
      "name": "future-transactions",
      "description": "Future transaction management \u2014 charge, update, cancel, and status."
    },
    {
      "name": "health",
      "description": "Service health and readiness probes."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/health/": {
      "get": {
        "responses": {
          "200": {
            "description": "Service is healthy."
          }
        },
        "x-excluded": true,
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Overall service health. Returns `200` when the terminal service is up.",
        "tags": [
          "health"
        ],
        "security": []
      }
    },
    "/health/ready": {
      "get": {
        "responses": {
          "200": {
            "description": "Service is healthy."
          }
        },
        "x-excluded": true,
        "operationId": "getHealthReady",
        "summary": "Readiness check",
        "description": "Returns `200` when the service is ready to accept traffic.",
        "tags": [
          "health"
        ],
        "security": []
      }
    },
    "/health/live": {
      "get": {
        "responses": {
          "200": {
            "description": "Service is healthy."
          }
        },
        "x-excluded": true,
        "operationId": "getHealthLive",
        "summary": "Liveness check",
        "description": "Returns `200` while the service process is alive.",
        "tags": [
          "health"
        ],
        "security": []
      }
    },
    "/v1/payments/recurring/init/{terminal_friendly_id}": {
      "post": {
        "tags": [
          "recurring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "recurring"
                ],
                "properties": {
                  "amount": {
                    "description": "Payment amount (e.g. 10.00 for $10.00).",
                    "minimum": 1,
                    "maximum": 999999999,
                    "type": "number"
                  },
                  "currency": {
                    "description": "ISO 4217 currency code (e.g. USD, EUR).",
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "GBP",
                      "JPY",
                      "KWD",
                      "CNY",
                      "AUD",
                      "CAD",
                      "CHF",
                      "SEK",
                      "NOK",
                      "DKK",
                      "RUB",
                      "ILS",
                      "INR",
                      "BRL",
                      "MXN",
                      "ZAR",
                      "SGD",
                      "HKD",
                      "NZD",
                      "AED",
                      "SAR",
                      "TRY",
                      "PLN",
                      "CZK",
                      "HUF",
                      "THB",
                      "PHP",
                      "MYR",
                      "BGN",
                      "RON",
                      "IDR",
                      "KRW",
                      "COP",
                      "UAH",
                      "VND",
                      "QAR",
                      "BHD",
                      "EGP",
                      "MAD",
                      "KES",
                      "UGX",
                      "NGN",
                      "OMR",
                      "ARS",
                      "CLP",
                      "JOD",
                      "PYG",
                      "RWF"
                    ]
                  },
                  "recurring": {
                    "type": "object",
                    "required": [
                      "managed_by"
                    ],
                    "properties": {
                      "managed_by": {
                        "description": "Who manages the recurring: merchant, our_platform, or payment_provider.",
                        "type": "string",
                        "enum": [
                          "merchant",
                          "our_platform",
                          "payment_provider"
                        ]
                      },
                      "first_payment_date": {
                        "description": "First payment date (YYYY-MM-DD). Required when managed_by is our_platform.",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                        "type": "string"
                      },
                      "recurring_date_type": {
                        "description": "Payment frequency. Required when managed_by is our_platform.",
                        "type": "string",
                        "enum": [
                          "daily",
                          "weekly",
                          "monthly",
                          "yearly"
                        ]
                      },
                      "time_interval": {
                        "description": "Interval between payments. Min: 1. Required when managed_by is our_platform.",
                        "minimum": 1,
                        "type": "integer"
                      },
                      "number_of_payments": {
                        "description": "Total number of payments. Omit for unlimited recurring.",
                        "minimum": 1,
                        "type": "integer"
                      },
                      "cancellation_date": {
                        "description": "End date for the recurring agreement (YYYY-MM-DD).",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                        "type": "string"
                      }
                    }
                  },
                  "payment_instrument": {
                    "type": "object",
                    "required": [
                      "card_number",
                      "expiry_month",
                      "expiry_year",
                      "payment_method"
                    ],
                    "properties": {
                      "card_cardholder_name": {
                        "description": "The name of the card holder as it appears on the card.",
                        "minLength": 1,
                        "maxLength": 100,
                        "type": "string"
                      },
                      "card_number": {
                        "description": "The card number, which must be between 13 and 19 digits.",
                        "minLength": 13,
                        "maxLength": 19,
                        "pattern": "^[0-9]{13,19}$",
                        "type": "string"
                      },
                      "expiry_month": {
                        "description": "The expiration month of the card.",
                        "minimum": 1,
                        "maximum": 12,
                        "type": "integer"
                      },
                      "expiry_year": {
                        "description": "The expiration year of the card.",
                        "minimum": 2024,
                        "maximum": 2099,
                        "type": "integer"
                      },
                      "payment_method": {
                        "type": "string",
                        "enum": [
                          "cards",
                          "digital_wallets",
                          "bnpl",
                          "online_banking",
                          "rtp",
                          "vouchers",
                          "cash",
                          "direct_debit",
                          "cryptocurrencies"
                        ]
                      },
                      "card_profile": {
                        "type": "object",
                        "properties": {
                          "fingerprint": {
                            "description": "A unique identifier for the card profile, generated by SmartRetry.",
                            "minLength": 88,
                            "maxLength": 88,
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "payer": {
                    "type": "object",
                    "required": [
                      "first_name",
                      "last_name",
                      "email"
                    ],
                    "properties": {
                      "friendly_id": {
                        "description": "A unique friendly identifier for the payer generated by SmartRetry.",
                        "minLength": 8,
                        "maxLength": 8,
                        "type": "string"
                      },
                      "full_name": {
                        "maxLength": 150,
                        "type": "string"
                      },
                      "first_name": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "last_name": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "email": {
                        "maxLength": 254,
                        "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
                        "type": "string"
                      },
                      "phone_number": {
                        "description": "Phone number in E.164 format (e.g., +1234567890)",
                        "pattern": "^\\+[1-9]\\d{1,14}$",
                        "maxLength": 16,
                        "type": "string"
                      },
                      "national_id": {
                        "maxLength": 50,
                        "type": "string"
                      },
                      "birth_date": {
                        "description": "Birth date in ISO 8601 format (YYYY-MM-DD)",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "fingerprint": {
                            "description": "A unique identifier for the payer's address generated by SmartRetry.",
                            "minLength": 88,
                            "maxLength": 88,
                            "type": "string"
                          },
                          "address_1": {
                            "maxLength": 100,
                            "type": "string"
                          },
                          "address_2": {
                            "maxLength": 100,
                            "type": "string"
                          },
                          "apartment": {
                            "maxLength": 20,
                            "type": "string"
                          },
                          "floor": {
                            "maxLength": 20,
                            "type": "string"
                          },
                          "entrance": {
                            "maxLength": 20,
                            "type": "string"
                          },
                          "building": {
                            "maxLength": 20,
                            "type": "string"
                          },
                          "street": {
                            "maxLength": 100,
                            "type": "string"
                          },
                          "postal_code": {
                            "maxLength": 20,
                            "type": "string"
                          },
                          "city_name": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "city_geoname_id": {
                            "description": "The GeoNames ID for the city. This should be a positive integer represented as a string.",
                            "pattern": "^[1-9]\\d*$",
                            "type": "string"
                          },
                          "state_code": {
                            "description": "The state code should be a valid ISO 3166-2 code (e.g., \"US-CA\" for California, USA).",
                            "minLength": 2,
                            "maxLength": 6,
                            "type": "string"
                          },
                          "country_code": {
                            "description": "The country code should be a valid ISO 3166-1 alpha-2 code (e.g., \"PH\" for the Philippines, \"IL\" for Israel).",
                            "minLength": 2,
                            "maxLength": 2,
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "payer_fingerprint": {
                    "description": "Pre-computed payer fingerprint from an existing transaction. Mutually exclusive with payer.",
                    "minLength": 88,
                    "type": "string"
                  },
                  "token": {
                    "description": "A stored payment token from the merchant's Payment Instruments.",
                    "minLength": 88,
                    "maxLength": 88,
                    "type": "string"
                  },
                  "cvv": {
                    "description": "Card verification value (CVV/CVC). Optional but recommended for card-not-present transactions. SmartRetry never stores the CVV, and it cannot be used in tokenized or retry flows.",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "description": "Optional key that makes this POST safely retryable. If you retry with the same key and the same request body within 24 hours, SmartRetry replays the original response instead of creating a second operation. Reusing a key with a different body returns `409`. Maximum 255 characters; letters, numbers, underscore, and hyphen only.",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          },
          {
            "schema": {
              "minLength": 6,
              "maxLength": 6,
              "type": "string"
            },
            "in": "path",
            "name": "terminal_friendly_id",
            "required": true,
            "description": "The unique identifier of the terminal."
          }
        ],
        "responses": {
          "200": {
            "description": "Recurring plan created and first payment accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "transaction_id",
                    "recurring_id",
                    "accepted"
                  ],
                  "properties": {
                    "transaction_id": {
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "order_id": {
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "recurring_id": {
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body or parameters failed validation. Check `reason_code` for the specific rule.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "initRecurring",
        "summary": "Initialize a recurring plan",
        "description": "Create a recurring payment plan and charge its first payment. Returns a `recurring_id` used to manage the plan and its scheduled future transactions."
      }
    },
    "/v1/payments/recurring/status/{terminal_friendly_id}": {
      "get": {
        "tags": [
          "recurring"
        ],
        "parameters": [
          {
            "schema": {
              "minLength": 8,
              "maxLength": 8,
              "type": "string"
            },
            "in": "query",
            "name": "recurring_id",
            "required": true,
            "description": "The recurring series identifier."
          },
          {
            "schema": {
              "minLength": 6,
              "maxLength": 6,
              "type": "string"
            },
            "in": "path",
            "name": "terminal_friendly_id",
            "required": true,
            "description": "The unique identifier of the terminal."
          }
        ],
        "responses": {
          "200": {
            "description": "The current state of the recurring plan.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recurring_id",
                    "order_id",
                    "status",
                    "recurring",
                    "payment_instrument",
                    "payer",
                    "future_transactions",
                    "completed_transactions"
                  ],
                  "properties": {
                    "recurring_id": {
                      "description": "The recurring series identifier.",
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "order_id": {
                      "description": "The order linked to this recurring series.",
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "paused",
                        "cancelled",
                        "completed"
                      ]
                    },
                    "recurring": {
                      "type": "object",
                      "required": [
                        "status",
                        "managed_by",
                        "completed_payments"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "paused",
                            "cancelled",
                            "completed"
                          ]
                        },
                        "managed_by": {
                          "type": "string",
                          "enum": [
                            "merchant",
                            "our_platform",
                            "payment_provider"
                          ]
                        },
                        "first_payment_date": {
                          "type": "string"
                        },
                        "recurring_date_type": {
                          "type": "string",
                          "enum": [
                            "daily",
                            "weekly",
                            "monthly",
                            "yearly"
                          ]
                        },
                        "time_interval": {
                          "minimum": 1,
                          "type": "integer"
                        },
                        "number_of_payments": {
                          "minimum": 1,
                          "type": "integer"
                        },
                        "cancellation_date": {
                          "type": "string"
                        },
                        "completed_payments": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "remaining_payments": {
                          "minimum": 0,
                          "type": "integer"
                        }
                      }
                    },
                    "payment_instrument": {
                      "type": "object",
                      "required": [
                        "token",
                        "payment_method"
                      ],
                      "properties": {
                        "token": {
                          "description": "A token representing the payment instrument, generated by SmartRetry.",
                          "minLength": 88,
                          "maxLength": 88,
                          "type": "string"
                        },
                        "payment_method": {
                          "type": "string",
                          "enum": [
                            "cards",
                            "digital_wallets",
                            "bnpl",
                            "online_banking",
                            "rtp",
                            "vouchers",
                            "cash",
                            "direct_debit",
                            "cryptocurrencies"
                          ]
                        },
                        "card_cardholder_name": {
                          "description": "The name of the card holder as it appears on the card.",
                          "minLength": 1,
                          "maxLength": 100,
                          "type": "string"
                        },
                        "card_card_last_four_digit": {
                          "description": " The last four digit of the card number",
                          "type": "string"
                        },
                        "card_bin": {
                          "description": "The first six or eleven digits of the card number, which identify the card issuer and type.",
                          "type": "string"
                        },
                        "expiration_date": {
                          "description": "Expiration date of card in ISO 8601 format",
                          "type": "string"
                        },
                        "card_profile": {
                          "type": "object",
                          "required": [
                            "fingerprint",
                            "issuer",
                            "brand",
                            "cardType"
                          ],
                          "properties": {
                            "fingerprint": {
                              "description": "A unique identifier for the card profile, generated by SmartRetry.",
                              "minLength": 88,
                              "maxLength": 88,
                              "type": "string"
                            },
                            "issuer": {
                              "type": "object",
                              "required": [
                                "name"
                              ],
                              "properties": {
                                "name": {
                                  "description": "The name of the card issuer (e.g., Bank of America, Chase, etc.).",
                                  "type": "string"
                                },
                                "description": {
                                  "description": "A description of the issuer.",
                                  "type": "string"
                                }
                              }
                            },
                            "brand": {
                              "type": "object",
                              "required": [
                                "name"
                              ],
                              "properties": {
                                "name": {
                                  "description": "The name of the card brand (e.g., Visa, Mastercard, Amex).",
                                  "type": "string"
                                }
                              }
                            },
                            "category": {
                              "type": "string",
                              "enum": [
                                "BUSINESS",
                                "CLASSIC",
                                "STANDARD",
                                "PERSONAL",
                                "PLATINUM",
                                "GOLD",
                                "PREPAID",
                                "UATP",
                                "TRADITIONAL",
                                "PREPAID CLASSIC",
                                "PROPRIETARY",
                                "ENHANCED",
                                "CORPORATE",
                                "WORLD",
                                "ELECTRON",
                                "PERSONAL CORE",
                                "SIGNATURE",
                                "INFINITE",
                                "CORPORATE T&E",
                                "MIXED PRODUCT",
                                "PURCHASING",
                                "PREPAID RELOADABLE",
                                "PREPAID BUSINESS",
                                "JIAXIU CARD",
                                "TRADITIONAL REWARDS",
                                "WORLD ELITE",
                                "ATM CARD",
                                "PREPAID PLATINUM",
                                "GIFT",
                                "TITANIUM",
                                "COMMERCIAL",
                                "PREPAID HSA NON-SUBSTANTIATED",
                                "CORPORATE PURCHASING",
                                "REWARDS",
                                "B2B",
                                "BLACK",
                                "SMALL BUSINESS",
                                "FLEET",
                                "BUSINESS ENHANCED",
                                "CORPORATE FLEET",
                                "VPAY",
                                "WORLD BUSINESS",
                                "PREPAID ELECTRON",
                                "PREPAID CORPORATE T&E",
                                "EXECUTIVE BUSINESS",
                                "PREPAID PLATINUM TRAVEL",
                                "PMJDY",
                                "BASIC",
                                "PROPRIETARY ATM",
                                "PREFERRED BUSINESS",
                                "PURCHASING WITH FLEET",
                                "V PAY",
                                "B2B VIRTUAL",
                                "WORLD BLACK",
                                "PREPAID WORKPLACE B2B",
                                "CORPORATE EXECUTIVE",
                                "PREPAID PAYROLL",
                                "OTHER",
                                "SIGNATURE BUSINESS",
                                "WORLD ELITE FOR BUSINESS",
                                "RUPAY SELECT",
                                "PREPAID PURCHASING",
                                "PRIVATE LABEL",
                                "GIFT VOUCHER",
                                "ORIENTAL CARD",
                                "PLATINUM SALARY",
                                "CONSUMER",
                                "PEONY MONEY LINK",
                                "YANGTZE RIVER CARD",
                                "ELO MORE",
                                "LOWES CARD",
                                "IKEA CARD",
                                "PIN ONLY W/O EBT",
                                "PERSONAL CHARGE",
                                "ICARD",
                                "MIXED BIN",
                                "SEARS",
                                "GRAPHITE",
                                "NANJING",
                                "PREPAID CORPORATE",
                                "MICRO BUSINESS",
                                "PREPAID WORKPLACE BENEFITS",
                                "CIRRUS",
                                "CENTRAL TRAVEL SOLUTIONS AIR",
                                "PERSONAL GREEN CHARGE",
                                "PREPAID CONSUMER INCENTIVE",
                                "ALIMENTACAO",
                                "PROFESSIONAL",
                                "AWARD",
                                "ELECTRONIC",
                                "GOVERNMENT COMMERCIAL",
                                "PREPAID FLEX BENEFIT",
                                "PREPAID MEAL",
                                "BUSINESS GRAPHITE",
                                "PREMIUM",
                                "PREPAID TRAVEL MONEY",
                                "PURCHASES",
                                "SUPPLIERS PAYMENT",
                                "AIR",
                                "WORLD FOR BUSINESS",
                                "PREPAID EMPLOYEE INCENTIVE",
                                "CORPORATE NANJING",
                                "CORPORATE WORLD",
                                "GOVERNMENT CORPORATE T&E",
                                "PREPAID ANONYMOUS",
                                "PERSONAL GREEN REVOLVE",
                                "PREPAID GOVERNMENT",
                                "INFINITE BUSINESS",
                                "PREPAID HSA SUBSTANTIATED",
                                "ULTRA HIGH NET WORTH",
                                "PREPAID GOLD",
                                "VIRTUAL",
                                "GOLD/PLATINUM",
                                "BLUE AIRMILES CASH BACK CARD",
                                "Q-CASH",
                                "FSA",
                                "B2B VIRTUAL PAYMENTS",
                                "FOOD CARD",
                                "PREPAID COMMERCIAL TRANSPORT",
                                "PREPAID PREFERRED BUSINESS",
                                "PREPAID HEALTHCARE",
                                "PREPAID B2B VIRTUAL",
                                "PJ PAYMENT ACCOUNT",
                                "COMMERCIAL AGRICULTURE",
                                "NEW WORLD",
                                "UNEMBOSSED",
                                "PERSONAL GOLD CHARGE",
                                "NANJING DINERS",
                                "PREPAID PURCHASING WITH FLEET",
                                "PREPAID COMMERCIAL",
                                "PREPAID WORLD",
                                "PREPAID PRIVATE LABEL",
                                "WORLD REWARDS",
                                "CARTE CIB",
                                "BILL PAY COMMERCIAL",
                                "GREEN",
                                "PREPAID PRIVATE LABEL STANDARD",
                                "CORPORATE NANJING DINERS",
                                "CENTRAL TRAVEL SOLUTIONS LAND",
                                "PERSONAL GOLD REVOLVE",
                                "MIXED",
                                "HYUNDAI CARD",
                                "GPP",
                                "PERSONAL REVOLVE",
                                "PREPAID B2B",
                                "BUSINESS SIGNATURE",
                                "PREPAID CASH",
                                "VERVE",
                                "PREPAID ISIC",
                                "DISTRIBUTION",
                                "PREPAID GOLD PAYROLL",
                                "INDIVIDUAL",
                                "PRIVATE LABEL TRADE PROGRAM",
                                "PERSONAL PLATINUM REVOLVE",
                                "GRMS CORPORATE CONTROL",
                                "WORLD ELITE BUSINESS",
                                "ATM",
                                "KIM BIKA",
                                "GEN CARD NUMBERS",
                                "PRIVATE LABEL BASIC",
                                "BUSINESS REWARDS",
                                "PREPAID VPAY",
                                "DEFERRED DEBIT",
                                "GOLDEN BRIDGE CARD",
                                "DEPARTMENT STORE CARD",
                                "CENTURY CARD",
                                "WORLD ELITE EXCLUSIVE",
                                "ACH FOR CONSUMER",
                                "PREPAID TRAVEL",
                                "AUTO",
                                "OUR CARD",
                                "CREDIT COEMITIDA",
                                "PERSONAL PLATINUM CHARGE",
                                "COMMERCIAL MARKETPLACE",
                                "GOVERNMENT PURCHASING",
                                "PREPAID COMMERCIAL PAYMENT ACCOUNT",
                                "CORPORATE WORLD ELITE",
                                "ACQUIRER ONLY",
                                "EXECUTIVE",
                                "SAMSUNG CARD",
                                "PERSONAL BLUE REVOLVE",
                                "GNS PLATINUM CHARGE",
                                "MASTERMONEY",
                                "RETRAIT",
                                "NH PLATINUM",
                                "PERSONAL GREEN PREPAID",
                                "INFINITE PRIVILEGE",
                                "AARP",
                                "CMI",
                                "CULTURA",
                                "PLATINUM DIGITAL",
                                "PREPAID FLEX",
                                "PAYPASS",
                                "CASH",
                                "WORLD FLEX",
                                "OPEN GREEN REVOLVE",
                                "SMALL CORPORATE",
                                "UHNW",
                                "PREPAID PRIVATE LABEL BASIC",
                                "EMPRESARIAL ELO MORE",
                                "BUSINESS ELO MORE",
                                "PREPAID INSURANCE",
                                "HSA NON SUBSTANTIATED",
                                "EXECUTIVE CORPORATE",
                                "SHINHAN CARD",
                                "CLASSIC/GOLD",
                                "INSTALLMENT PAYMENTS P",
                                "BUSINESS INFINITE",
                                "GOVERNMENT PURCHASING WITH FLEET",
                                "SIGNATURE PREFERRED",
                                "MULTIPLO",
                                "COMMERCIAL PAYMENT ACCOUNT",
                                "PREPAID TEEN",
                                "ELECTRONIC BUSINESS",
                                "INSTALLMENTS PREMIUM",
                                "COMMERCIAL PUBLIC SECTOR",
                                "ISIC",
                                "GLOBAL PAYMENT",
                                "DIAMOND",
                                "BC CARD",
                                "KB KOOKMIN CARD",
                                "NH NONGHYUP BC CARD",
                                "DELAYED DEBIT",
                                "BIN WALLET MOBILE PAYMENT",
                                "INSTALLMENT PAYMENTS S",
                                "CENTURION",
                                "OPTIMA",
                                "GNS GREEN CHARGE",
                                "BLUE",
                                "OPEN GOLD REVOLVE",
                                "PREPAID REWARDS",
                                "AGRO",
                                "PREPAID ELECTRONIC",
                                "ISIC STUDENT",
                                "WORLD ELITE FLEX",
                                "GM CARD",
                                "WORLD SIGNIA",
                                "PREPAID CONSUMER",
                                "SHINHAN CARD - CHECK",
                                "NH CARD",
                                "ARMED POLICE SERVICEMAN GUARANTEE CARD",
                                "SC BC CARD",
                                "VERVE GLOBAL",
                                "CORPORATE DINERS",
                                "CARTE PRIVATIVE EPARGNE",
                                "GOLD DIGITAL",
                                "PREPAID SMALL BUSINESS",
                                "STANDARD DIGITAL",
                                "CORPORATE GOLD",
                                "ULTIMATE",
                                "CORPORATE GREEN REVOLVE",
                                "OPEN GOLD CHARGE",
                                "PERSONAL BLACK CHARGE",
                                "OPEN PLATINUM REVOLVE",
                                "GNS GOLD CHARGE",
                                "TRAVEL MONEY",
                                "PREPAID PROPRIETARY ATM",
                                "PREPAID PRIVATE LABEL ENHANCED",
                                "COMMERCIAL TRANSPORT",
                                "INFINITE/PLATINUM",
                                "DIRECT PAYOUTS TO BANK ACCOUNTS",
                                "PREPAID VIRTUAL",
                                "SELECT",
                                "PREPAID V PAY",
                                "MAESTRO",
                                "VERVE CARD",
                                "FOOD",
                                "VOUCHER",
                                "STUDENT",
                                "HELOC STANDARD",
                                "SALARY",
                                "WORLD BLACK EDITION",
                                "BUSINESS TRAVEL",
                                "BLACK DIGITAL",
                                "BUSINESS PREFERRED",
                                "SHOP & SPLIT",
                                "COMMERCIAL BILL PAY",
                                "SILVER",
                                "RMB CARD",
                                "SOCIAL SECURITY CARD",
                                "OUR CHECK CARD",
                                "NH CORPORATE CARD",
                                "SHINHAN CARD - CORPORATE",
                                "NH CHECK CARD",
                                "DAEGU BC CARD",
                                "IBK BC CARD",
                                "AGRICULTURAL",
                                "KB NATIONAL BC CARD",
                                "GUANGZHOU CREDIT",
                                "CHUFA CARD",
                                "ONE CORPORATE CARD",
                                "GOLDEN SPIKE",
                                "SHINHAN BC CHECK",
                                "PRIVATE LABEL H",
                                "PREPAID NON-RELOADABLE",
                                "PACIFIC",
                                "HENGTONG CARD",
                                "INTERNET BANKING CODE CARD",
                                "PLATINUM FLEX",
                                "DIGITAL ENABLEMENT PROGRAM",
                                "GOLD BUSINESS",
                                "INVALID",
                                "PREMIUM PLUS",
                                "AIRMILES PREMIER",
                                "GNS NETWORK CARD",
                                "CORPORATE GOLD CHARGE",
                                "PERSONAL BLUE CHARGE",
                                "NETWORK CARDS",
                                "OPEN BLUE REVOLVE",
                                "OPEN GREEN CHARGE",
                                "PREPAID SELECT",
                                "SALUTE",
                                "PREPAID HORIZON CLASSIC",
                                "PREPAID PRIVATE LABEL PREMIUM",
                                "INFINITE/SIGNATURE",
                                "PREPAID DIRECT PAYOUTS TO WALLETS",
                                "PREPAID GOVERNMENT PURCHASING",
                                "PREPAID COMMERCIAL AGRICULTURE",
                                "BASICO",
                                "BUSINESS PLATINUM",
                                "PLATINUM REWARDS",
                                "GOLD/INFINITE/PLATINUM",
                                "CLASSIC/SIGNATURE",
                                "CLASSIC/PLATINUM",
                                "PREPAID GOVERNMENT CORPORATE T&E",
                                "CORPORATE/INFINITE",
                                "MEEZA",
                                "PREPAID XPLORER",
                                "NPF VERVE NFC",
                                "FIRSTMONIE COMPANION",
                                "MUJER ACTIVA",
                                "CONSTRUCARD",
                                "BNDES",
                                "PAGAMENTO FORNECEDORES",
                                "ELECTRIC ORANGE",
                                "ACTIVATION VERIFICATION",
                                "HELOC PLATINUM",
                                "PREPAID BUSINESS ELECTRONIC",
                                "PREPAID HUMANITARIUM",
                                "ELECTRONIC COMMERCIAL",
                                "TITANIUM/GOLD",
                                "PLATINUM/STANDARD",
                                "STANDARD/PLATINUM/WORLD",
                                "IMMEDIATE DEBIT",
                                "STANDARD SALARY",
                                "INSTALMENT PREMIUM",
                                "PREPAID HEALTHCARE NON TAX",
                                "CORPORATE MEETING",
                                "STANDARD/GOLD/TITANIUM",
                                "GOLD/CORPORATE",
                                "PREPAID PREMIUM TRAVEL",
                                "PREPAID VOUCHER",
                                "ENTERPRISE SOLUTIONS",
                                "COMMERCIAL REWARD FUNDING",
                                "PREPAID BUSINESS PREFERRED",
                                "BUSINESS WORLD",
                                "PREPAID PEDAGIO",
                                "ROSE CARD",
                                "FLEET CONSUMER",
                                "SC BC CHECK",
                                "ACCESS",
                                "ZINKA",
                                "HEALTHCARE",
                                "QINGYUN CARD",
                                "CITIZEN CARD",
                                "EMERALD",
                                "CHENXING CARD",
                                "SOCIAL SECURITY IC CARD",
                                "FINANCIAL PLAN CARD",
                                "PEONY QUASI-CREDIT CARD",
                                "PRIORITY PLATINUM",
                                "DALIAN SOCIAL SECURITY CARD",
                                "UNIT SETTLEMENT CARD",
                                "LOTTE CORPORATION",
                                "LOTTE WEAVER SKY",
                                "IBK COMPANIES BC",
                                "NATIONAL CUP ENTERPRISE CARD",
                                "SAMSUNG CHECK CARD",
                                "SAMSUNG CHECK",
                                "ONE CHECK CARD",
                                "IBK INDUSTRIAL BANK",
                                "HAN SKBC CARD",
                                "BUSAN BC CARD",
                                "GYEONGNAM BC CARD",
                                "SHINHAN BC CARD",
                                "GUANGZHOU CARD",
                                "LOTTE PENTA",
                                "ONE COMPANY CHECK",
                                "JIHE CARD",
                                "DAEGU BC CHECK",
                                "IBK BC CHECK",
                                "PAYMENT CARD",
                                "NH NONGHYUP CHECK",
                                "HAN SKBC CHECK",
                                "IC CARD",
                                "COMBO",
                                "HOTEL",
                                "BUSINESS NANJING DINERS",
                                "YINLU CARD",
                                "IDENTITY",
                                "WHITE EMV INTERBANCAIRE",
                                "KIRIN CARD",
                                "PROPEIETARY",
                                "Q-CASH GENERAL",
                                "QC STAFF",
                                "JINRUI CARD",
                                "QILU CARD",
                                "YANGCHENG CARD",
                                "MINZHOU CARD",
                                "JINSHAN MONEY LINK CARD",
                                "HUITONG CARD",
                                "KYUSHU DEBIT",
                                "CITY CARD",
                                "UNIONPAY CARD",
                                "EMERGING CARD",
                                "XINTONG CARD",
                                "SSANGYONG CARD",
                                "GREEN LEAF CARD",
                                "ALL-IN-ONE CARD",
                                "JINDA CARD",
                                "COOPERATIVE CARD",
                                "YELLOW SEA CARD",
                                "DATANGKA",
                                "YUANDU CARD",
                                "CHINESE ROSE CARD",
                                "PROPRIETARY/STANDARD",
                                "RETRAIT INTERNE",
                                "CARTE PRIVATIVE",
                                "CARTE PRIVATIVE PIN ON-LINE",
                                "CARTE DE RETRAIT JEUNE",
                                "PENSION",
                                "SPRING CITY CARD"
                              ]
                            },
                            "cardType": {
                              "type": "string",
                              "enum": [
                                "DEBIT",
                                "CREDIT",
                                "CHARGE"
                              ]
                            },
                            "panLength": {
                              "description": "The length of the card number (PAN).",
                              "minimum": 13,
                              "maximum": 19,
                              "type": "integer"
                            },
                            "cardUsage": {
                              "type": "string",
                              "enum": [
                                "BUSINESS",
                                "CLASSIC",
                                "STANDARD",
                                "PERSONAL",
                                "PLATINUM",
                                "GOLD",
                                "PREPAID",
                                "UATP",
                                "TRADITIONAL",
                                "PREPAID CLASSIC",
                                "PROPRIETARY",
                                "ENHANCED",
                                "CORPORATE",
                                "WORLD",
                                "ELECTRON",
                                "PERSONAL CORE",
                                "SIGNATURE",
                                "INFINITE",
                                "CORPORATE T&E",
                                "MIXED PRODUCT",
                                "PURCHASING",
                                "PREPAID RELOADABLE",
                                "PREPAID BUSINESS",
                                "JIAXIU CARD",
                                "TRADITIONAL REWARDS",
                                "WORLD ELITE",
                                "ATM CARD",
                                "PREPAID PLATINUM",
                                "GIFT",
                                "TITANIUM",
                                "COMMERCIAL",
                                "PREPAID HSA NON-SUBSTANTIATED",
                                "CORPORATE PURCHASING",
                                "REWARDS",
                                "B2B",
                                "BLACK",
                                "SMALL BUSINESS",
                                "FLEET",
                                "BUSINESS ENHANCED",
                                "CORPORATE FLEET",
                                "VPAY",
                                "WORLD BUSINESS",
                                "PREPAID ELECTRON",
                                "PREPAID CORPORATE T&E",
                                "EXECUTIVE BUSINESS",
                                "PREPAID PLATINUM TRAVEL",
                                "PMJDY",
                                "BASIC",
                                "PROPRIETARY ATM",
                                "PREFERRED BUSINESS",
                                "PURCHASING WITH FLEET",
                                "V PAY",
                                "B2B VIRTUAL",
                                "WORLD BLACK",
                                "PREPAID WORKPLACE B2B",
                                "CORPORATE EXECUTIVE",
                                "PREPAID PAYROLL",
                                "OTHER",
                                "SIGNATURE BUSINESS",
                                "WORLD ELITE FOR BUSINESS",
                                "RUPAY SELECT",
                                "PREPAID PURCHASING",
                                "PRIVATE LABEL",
                                "GIFT VOUCHER",
                                "ORIENTAL CARD",
                                "PLATINUM SALARY",
                                "CONSUMER",
                                "PEONY MONEY LINK",
                                "YANGTZE RIVER CARD",
                                "ELO MORE",
                                "LOWES CARD",
                                "IKEA CARD",
                                "PIN ONLY W/O EBT",
                                "PERSONAL CHARGE",
                                "ICARD",
                                "MIXED BIN",
                                "SEARS",
                                "GRAPHITE",
                                "NANJING",
                                "PREPAID CORPORATE",
                                "MICRO BUSINESS",
                                "PREPAID WORKPLACE BENEFITS",
                                "CIRRUS",
                                "CENTRAL TRAVEL SOLUTIONS AIR",
                                "PERSONAL GREEN CHARGE",
                                "PREPAID CONSUMER INCENTIVE",
                                "ALIMENTACAO",
                                "PROFESSIONAL",
                                "AWARD",
                                "ELECTRONIC",
                                "GOVERNMENT COMMERCIAL",
                                "PREPAID FLEX BENEFIT",
                                "PREPAID MEAL",
                                "BUSINESS GRAPHITE",
                                "PREMIUM",
                                "PREPAID TRAVEL MONEY",
                                "PURCHASES",
                                "SUPPLIERS PAYMENT",
                                "AIR",
                                "WORLD FOR BUSINESS",
                                "PREPAID EMPLOYEE INCENTIVE",
                                "CORPORATE NANJING",
                                "CORPORATE WORLD",
                                "GOVERNMENT CORPORATE T&E",
                                "PREPAID ANONYMOUS",
                                "PERSONAL GREEN REVOLVE",
                                "PREPAID GOVERNMENT",
                                "INFINITE BUSINESS",
                                "PREPAID HSA SUBSTANTIATED",
                                "ULTRA HIGH NET WORTH",
                                "PREPAID GOLD",
                                "VIRTUAL",
                                "GOLD/PLATINUM",
                                "BLUE AIRMILES CASH BACK CARD",
                                "Q-CASH",
                                "FSA",
                                "B2B VIRTUAL PAYMENTS",
                                "FOOD CARD",
                                "PREPAID COMMERCIAL TRANSPORT",
                                "PREPAID PREFERRED BUSINESS",
                                "PREPAID HEALTHCARE",
                                "PREPAID B2B VIRTUAL",
                                "PJ PAYMENT ACCOUNT",
                                "COMMERCIAL AGRICULTURE",
                                "NEW WORLD",
                                "UNEMBOSSED",
                                "PERSONAL GOLD CHARGE",
                                "NANJING DINERS",
                                "PREPAID PURCHASING WITH FLEET",
                                "PREPAID COMMERCIAL",
                                "PREPAID WORLD",
                                "PREPAID PRIVATE LABEL",
                                "WORLD REWARDS",
                                "CARTE CIB",
                                "BILL PAY COMMERCIAL",
                                "GREEN",
                                "PREPAID PRIVATE LABEL STANDARD",
                                "CORPORATE NANJING DINERS",
                                "CENTRAL TRAVEL SOLUTIONS LAND",
                                "PERSONAL GOLD REVOLVE",
                                "MIXED",
                                "HYUNDAI CARD",
                                "GPP",
                                "PERSONAL REVOLVE",
                                "PREPAID B2B",
                                "BUSINESS SIGNATURE",
                                "PREPAID CASH",
                                "VERVE",
                                "PREPAID ISIC",
                                "DISTRIBUTION",
                                "PREPAID GOLD PAYROLL",
                                "INDIVIDUAL",
                                "PRIVATE LABEL TRADE PROGRAM",
                                "PERSONAL PLATINUM REVOLVE",
                                "GRMS CORPORATE CONTROL",
                                "WORLD ELITE BUSINESS",
                                "ATM",
                                "KIM BIKA",
                                "GEN CARD NUMBERS",
                                "PRIVATE LABEL BASIC",
                                "BUSINESS REWARDS",
                                "PREPAID VPAY",
                                "DEFERRED DEBIT",
                                "GOLDEN BRIDGE CARD",
                                "DEPARTMENT STORE CARD",
                                "CENTURY CARD",
                                "WORLD ELITE EXCLUSIVE",
                                "ACH FOR CONSUMER",
                                "PREPAID TRAVEL",
                                "AUTO",
                                "OUR CARD",
                                "CREDIT COEMITIDA",
                                "PERSONAL PLATINUM CHARGE",
                                "COMMERCIAL MARKETPLACE",
                                "GOVERNMENT PURCHASING",
                                "PREPAID COMMERCIAL PAYMENT ACCOUNT",
                                "CORPORATE WORLD ELITE",
                                "ACQUIRER ONLY",
                                "EXECUTIVE",
                                "SAMSUNG CARD",
                                "PERSONAL BLUE REVOLVE",
                                "GNS PLATINUM CHARGE",
                                "MASTERMONEY",
                                "RETRAIT",
                                "NH PLATINUM",
                                "PERSONAL GREEN PREPAID",
                                "INFINITE PRIVILEGE",
                                "AARP",
                                "CMI",
                                "CULTURA",
                                "PLATINUM DIGITAL",
                                "PREPAID FLEX",
                                "PAYPASS",
                                "CASH",
                                "WORLD FLEX",
                                "OPEN GREEN REVOLVE",
                                "SMALL CORPORATE",
                                "UHNW",
                                "PREPAID PRIVATE LABEL BASIC",
                                "EMPRESARIAL ELO MORE",
                                "BUSINESS ELO MORE",
                                "PREPAID INSURANCE",
                                "HSA NON SUBSTANTIATED",
                                "EXECUTIVE CORPORATE",
                                "SHINHAN CARD",
                                "CLASSIC/GOLD",
                                "INSTALLMENT PAYMENTS P",
                                "BUSINESS INFINITE",
                                "GOVERNMENT PURCHASING WITH FLEET",
                                "SIGNATURE PREFERRED",
                                "MULTIPLO",
                                "COMMERCIAL PAYMENT ACCOUNT",
                                "PREPAID TEEN",
                                "ELECTRONIC BUSINESS",
                                "INSTALLMENTS PREMIUM",
                                "COMMERCIAL PUBLIC SECTOR",
                                "ISIC",
                                "GLOBAL PAYMENT",
                                "DIAMOND",
                                "BC CARD",
                                "KB KOOKMIN CARD",
                                "NH NONGHYUP BC CARD",
                                "DELAYED DEBIT",
                                "BIN WALLET MOBILE PAYMENT",
                                "INSTALLMENT PAYMENTS S",
                                "CENTURION",
                                "OPTIMA",
                                "GNS GREEN CHARGE",
                                "BLUE",
                                "OPEN GOLD REVOLVE",
                                "PREPAID REWARDS",
                                "AGRO",
                                "PREPAID ELECTRONIC",
                                "ISIC STUDENT",
                                "WORLD ELITE FLEX",
                                "GM CARD",
                                "WORLD SIGNIA",
                                "PREPAID CONSUMER",
                                "SHINHAN CARD - CHECK",
                                "NH CARD",
                                "ARMED POLICE SERVICEMAN GUARANTEE CARD",
                                "SC BC CARD",
                                "VERVE GLOBAL",
                                "CORPORATE DINERS",
                                "CARTE PRIVATIVE EPARGNE",
                                "GOLD DIGITAL",
                                "PREPAID SMALL BUSINESS",
                                "STANDARD DIGITAL",
                                "CORPORATE GOLD",
                                "ULTIMATE",
                                "CORPORATE GREEN REVOLVE",
                                "OPEN GOLD CHARGE",
                                "PERSONAL BLACK CHARGE",
                                "OPEN PLATINUM REVOLVE",
                                "GNS GOLD CHARGE",
                                "TRAVEL MONEY",
                                "PREPAID PROPRIETARY ATM",
                                "PREPAID PRIVATE LABEL ENHANCED",
                                "COMMERCIAL TRANSPORT",
                                "INFINITE/PLATINUM",
                                "DIRECT PAYOUTS TO BANK ACCOUNTS",
                                "PREPAID VIRTUAL",
                                "SELECT",
                                "PREPAID V PAY",
                                "MAESTRO",
                                "VERVE CARD",
                                "FOOD",
                                "VOUCHER",
                                "STUDENT",
                                "HELOC STANDARD",
                                "SALARY",
                                "WORLD BLACK EDITION",
                                "BUSINESS TRAVEL",
                                "BLACK DIGITAL",
                                "BUSINESS PREFERRED",
                                "SHOP & SPLIT",
                                "COMMERCIAL BILL PAY",
                                "SILVER",
                                "RMB CARD",
                                "SOCIAL SECURITY CARD",
                                "OUR CHECK CARD",
                                "NH CORPORATE CARD",
                                "SHINHAN CARD - CORPORATE",
                                "NH CHECK CARD",
                                "DAEGU BC CARD",
                                "IBK BC CARD",
                                "AGRICULTURAL",
                                "KB NATIONAL BC CARD",
                                "GUANGZHOU CREDIT",
                                "CHUFA CARD",
                                "ONE CORPORATE CARD",
                                "GOLDEN SPIKE",
                                "SHINHAN BC CHECK",
                                "PRIVATE LABEL H",
                                "PREPAID NON-RELOADABLE",
                                "PACIFIC",
                                "HENGTONG CARD",
                                "INTERNET BANKING CODE CARD",
                                "PLATINUM FLEX",
                                "DIGITAL ENABLEMENT PROGRAM",
                                "GOLD BUSINESS",
                                "INVALID",
                                "PREMIUM PLUS",
                                "AIRMILES PREMIER",
                                "GNS NETWORK CARD",
                                "CORPORATE GOLD CHARGE",
                                "PERSONAL BLUE CHARGE",
                                "NETWORK CARDS",
                                "OPEN BLUE REVOLVE",
                                "OPEN GREEN CHARGE",
                                "PREPAID SELECT",
                                "SALUTE",
                                "PREPAID HORIZON CLASSIC",
                                "PREPAID PRIVATE LABEL PREMIUM",
                                "INFINITE/SIGNATURE",
                                "PREPAID DIRECT PAYOUTS TO WALLETS",
                                "PREPAID GOVERNMENT PURCHASING",
                                "PREPAID COMMERCIAL AGRICULTURE",
                                "BASICO",
                                "BUSINESS PLATINUM",
                                "PLATINUM REWARDS",
                                "GOLD/INFINITE/PLATINUM",
                                "CLASSIC/SIGNATURE",
                                "CLASSIC/PLATINUM",
                                "PREPAID GOVERNMENT CORPORATE T&E",
                                "CORPORATE/INFINITE",
                                "MEEZA",
                                "PREPAID XPLORER",
                                "NPF VERVE NFC",
                                "FIRSTMONIE COMPANION",
                                "MUJER ACTIVA",
                                "CONSTRUCARD",
                                "BNDES",
                                "PAGAMENTO FORNECEDORES",
                                "ELECTRIC ORANGE",
                                "ACTIVATION VERIFICATION",
                                "HELOC PLATINUM",
                                "PREPAID BUSINESS ELECTRONIC",
                                "PREPAID HUMANITARIUM",
                                "ELECTRONIC COMMERCIAL",
                                "TITANIUM/GOLD",
                                "PLATINUM/STANDARD",
                                "STANDARD/PLATINUM/WORLD",
                                "IMMEDIATE DEBIT",
                                "STANDARD SALARY",
                                "INSTALMENT PREMIUM",
                                "PREPAID HEALTHCARE NON TAX",
                                "CORPORATE MEETING",
                                "STANDARD/GOLD/TITANIUM",
                                "GOLD/CORPORATE",
                                "PREPAID PREMIUM TRAVEL",
                                "PREPAID VOUCHER",
                                "ENTERPRISE SOLUTIONS",
                                "COMMERCIAL REWARD FUNDING",
                                "PREPAID BUSINESS PREFERRED",
                                "BUSINESS WORLD",
                                "PREPAID PEDAGIO",
                                "ROSE CARD",
                                "FLEET CONSUMER",
                                "SC BC CHECK",
                                "ACCESS",
                                "ZINKA",
                                "HEALTHCARE",
                                "QINGYUN CARD",
                                "CITIZEN CARD",
                                "EMERALD",
                                "CHENXING CARD",
                                "SOCIAL SECURITY IC CARD",
                                "FINANCIAL PLAN CARD",
                                "PEONY QUASI-CREDIT CARD",
                                "PRIORITY PLATINUM",
                                "DALIAN SOCIAL SECURITY CARD",
                                "UNIT SETTLEMENT CARD",
                                "LOTTE CORPORATION",
                                "LOTTE WEAVER SKY",
                                "IBK COMPANIES BC",
                                "NATIONAL CUP ENTERPRISE CARD",
                                "SAMSUNG CHECK CARD",
                                "SAMSUNG CHECK",
                                "ONE CHECK CARD",
                                "IBK INDUSTRIAL BANK",
                                "HAN SKBC CARD",
                                "BUSAN BC CARD",
                                "GYEONGNAM BC CARD",
                                "SHINHAN BC CARD",
                                "GUANGZHOU CARD",
                                "LOTTE PENTA",
                                "ONE COMPANY CHECK",
                                "JIHE CARD",
                                "DAEGU BC CHECK",
                                "IBK BC CHECK",
                                "PAYMENT CARD",
                                "NH NONGHYUP CHECK",
                                "HAN SKBC CHECK",
                                "IC CARD",
                                "COMBO",
                                "HOTEL",
                                "BUSINESS NANJING DINERS",
                                "YINLU CARD",
                                "IDENTITY",
                                "WHITE EMV INTERBANCAIRE",
                                "KIRIN CARD",
                                "PROPEIETARY",
                                "Q-CASH GENERAL",
                                "QC STAFF",
                                "JINRUI CARD",
                                "QILU CARD",
                                "YANGCHENG CARD",
                                "MINZHOU CARD",
                                "JINSHAN MONEY LINK CARD",
                                "HUITONG CARD",
                                "KYUSHU DEBIT",
                                "CITY CARD",
                                "UNIONPAY CARD",
                                "EMERGING CARD",
                                "XINTONG CARD",
                                "SSANGYONG CARD",
                                "GREEN LEAF CARD",
                                "ALL-IN-ONE CARD",
                                "JINDA CARD",
                                "COOPERATIVE CARD",
                                "YELLOW SEA CARD",
                                "DATANGKA",
                                "YUANDU CARD",
                                "CHINESE ROSE CARD",
                                "PROPRIETARY/STANDARD",
                                "RETRAIT INTERNE",
                                "CARTE PRIVATIVE",
                                "CARTE PRIVATIVE PIN ON-LINE",
                                "CARTE DE RETRAIT JEUNE",
                                "PENSION",
                                "SPRING CITY CARD"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "payer": {
                      "type": "object",
                      "required": [
                        "friendly_id"
                      ],
                      "properties": {
                        "friendly_id": {
                          "description": "A unique friendly identifier for the payer generated by SmartRetry.",
                          "minLength": 8,
                          "maxLength": 8,
                          "type": "string"
                        },
                        "full_name": {
                          "maxLength": 150,
                          "type": "string"
                        },
                        "first_name": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "last_name": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "email_username": {
                          "maxLength": 254,
                          "type": "string"
                        },
                        "email_domain": {
                          "type": "string"
                        },
                        "phone_number": {
                          "description": "Phone number in E.164 format (e.g., +1234567890)",
                          "pattern": "^\\+[1-9]\\d{1,14}$",
                          "maxLength": 16,
                          "type": "string"
                        },
                        "national_id": {
                          "maxLength": 50,
                          "type": "string"
                        }
                      }
                    },
                    "future_transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "future_transaction_id",
                          "recurring_id",
                          "scheduled_date",
                          "sequence_number",
                          "status",
                          "amount",
                          "currency"
                        ],
                        "properties": {
                          "future_transaction_id": {
                            "minLength": 8,
                            "maxLength": 8,
                            "type": "string"
                          },
                          "recurring_id": {
                            "minLength": 8,
                            "maxLength": 8,
                            "type": "string"
                          },
                          "scheduled_date": {
                            "description": "Scheduled date and time for this payment (ISO 8601).",
                            "type": "string"
                          },
                          "sequence_number": {
                            "minimum": 1,
                            "type": "integer"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "processing",
                              "completed",
                              "failed",
                              "cancelled"
                            ]
                          },
                          "amount": {
                            "minimum": 1,
                            "type": "integer"
                          },
                          "currency": {
                            "type": "string",
                            "enum": [
                              "USD",
                              "EUR",
                              "GBP",
                              "JPY",
                              "KWD",
                              "CNY",
                              "AUD",
                              "CAD",
                              "CHF",
                              "SEK",
                              "NOK",
                              "DKK",
                              "RUB",
                              "ILS",
                              "INR",
                              "BRL",
                              "MXN",
                              "ZAR",
                              "SGD",
                              "HKD",
                              "NZD",
                              "AED",
                              "SAR",
                              "TRY",
                              "PLN",
                              "CZK",
                              "HUF",
                              "THB",
                              "PHP",
                              "MYR",
                              "BGN",
                              "RON",
                              "IDR",
                              "KRW",
                              "COP",
                              "UAH",
                              "VND",
                              "QAR",
                              "BHD",
                              "EGP",
                              "MAD",
                              "KES",
                              "UGX",
                              "NGN",
                              "OMR",
                              "ARS",
                              "CLP",
                              "JOD",
                              "PYG",
                              "RWF"
                            ]
                          },
                          "notes": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "completed_transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "future_transaction_id",
                          "recurring_id",
                          "scheduled_date",
                          "sequence_number",
                          "status",
                          "amount",
                          "currency"
                        ],
                        "properties": {
                          "future_transaction_id": {
                            "minLength": 8,
                            "maxLength": 8,
                            "type": "string"
                          },
                          "recurring_id": {
                            "minLength": 8,
                            "maxLength": 8,
                            "type": "string"
                          },
                          "scheduled_date": {
                            "description": "Scheduled date and time for this payment (ISO 8601).",
                            "type": "string"
                          },
                          "sequence_number": {
                            "minimum": 1,
                            "type": "integer"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "processing",
                              "completed",
                              "failed",
                              "cancelled"
                            ]
                          },
                          "amount": {
                            "minimum": 0,
                            "type": "number"
                          },
                          "currency": {
                            "type": "string",
                            "enum": [
                              "USD",
                              "EUR",
                              "GBP",
                              "JPY",
                              "KWD",
                              "CNY",
                              "AUD",
                              "CAD",
                              "CHF",
                              "SEK",
                              "NOK",
                              "DKK",
                              "RUB",
                              "ILS",
                              "INR",
                              "BRL",
                              "MXN",
                              "ZAR",
                              "SGD",
                              "HKD",
                              "NZD",
                              "AED",
                              "SAR",
                              "TRY",
                              "PLN",
                              "CZK",
                              "HUF",
                              "THB",
                              "PHP",
                              "MYR",
                              "BGN",
                              "RON",
                              "IDR",
                              "KRW",
                              "COP",
                              "UAH",
                              "VND",
                              "QAR",
                              "BHD",
                              "EGP",
                              "MAD",
                              "KES",
                              "UGX",
                              "NGN",
                              "OMR",
                              "ARS",
                              "CLP",
                              "JOD",
                              "PYG",
                              "RWF"
                            ]
                          },
                          "executed_transaction": {
                            "description": "Transaction ID created when this future transaction was executed.",
                            "type": "string"
                          },
                          "executed_at": {
                            "description": "Execution date/time (ISO 8601).",
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body or parameters failed validation. Check `reason_code` for the specific rule.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The API key is not authorized for this terminal or resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. The referenced transaction, recurring plan, or future transaction does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getRecurringStatus",
        "summary": "Get recurring plan status",
        "description": "Fetch a recurring plan with its schedule, payment instrument, payer, pending future transactions, and completed transactions."
      }
    },
    "/v1/payments/recurring/cancel/{terminal_friendly_id}": {
      "post": {
        "tags": [
          "recurring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recurring_id"
                ],
                "properties": {
                  "recurring_id": {
                    "minLength": 8,
                    "maxLength": 8,
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "description": "Optional key that makes this POST safely retryable. If you retry with the same key and the same request body within 24 hours, SmartRetry replays the original response instead of creating a second operation. Reusing a key with a different body returns `409`. Maximum 255 characters; letters, numbers, underscore, and hyphen only.",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          },
          {
            "schema": {
              "minLength": 6,
              "maxLength": 6,
              "type": "string"
            },
            "in": "path",
            "name": "terminal_friendly_id",
            "required": true,
            "description": "The unique identifier of the terminal."
          }
        ],
        "responses": {
          "200": {
            "description": "Recurring plan cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "recurring_id",
                    "cancelled"
                  ],
                  "properties": {
                    "recurring_id": {
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "cancelled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body or parameters failed validation. Check `reason_code` for the specific rule.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The API key is not authorized for this terminal or resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. The referenced transaction, recurring plan, or future transaction does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict. The resource is not in a state that allows this operation, or an `Idempotency-Key` was reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "detail",
                    "reason_code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "instance": {
                      "type": "string"
                    },
                    "reason_code": {
                      "type": "string"
                    },
                    "context": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "cancelRecurring",
        "summary": "Cancel a recurring plan",
        "description": "Cancel a recurring plan and all of its pending future transactions. Transactions that have already executed are not affected."
      }
    },
    "/v1/payments/recurring/charge/{terminal_friendly_id}": {
      "post": {
        "tags": [
          "recurring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recurring_id"
                ],
                "properties": {
                  "recurring_id": {
                    "minLength": 8,
                    "maxLength": 8,
                    "type": "string"
                  },
                  "amount": {
                    "description": "Payment amount (e.g. 10.00 for $10.00).",
                    "minimum": 1,
                    "maximum": 999999999,
                    "type": "number"
                  },
                  "currency": {
                    "description": "ISO 4217 currency code (e.g. USD, EUR).",
                    "type": "string",
                    "enum": [
                      "USD",
                      "EUR",
                      "GBP",
                      "JPY",
                      "KWD",
                      "CNY",
                      "AUD",
                      "CAD",
                      "CHF",
                      "SEK",
                      "NOK",
                      "DKK",
                      "RUB",
                      "ILS",
                      "INR",
                      "BRL",
                      "MXN",
                      "ZAR",
                      "SGD",
                      "HKD",
                      "NZD",
                      "AED",
                      "SAR",
                      "TRY",
                      "PLN",
                      "CZK",
                      "HUF",
                      "THB",
                      "PHP",
                      "MYR",
                      "BGN",
                      "RON",
                      "IDR",
                      "KRW",
                      "COP",
                      "UAH",
                      "VND",
                      "QAR",
                      "BHD",
                      "EGP",
                      "MAD",
                      "KES",
                      "UGX",
                      "NGN",
                      "OMR",
                      "ARS",
                      "CLP",
                      "JOD",
                      "PYG",
                      "RWF"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "description": "Optional key that makes this POST safely retryable. If you retry with the same key and the same request body within 24 hours, SmartRetry replays the original response instead of creating a second operation. Reusing a key with a different body returns `409`. Maximum 255 characters; letters, numbers, underscore, and hyphen only.",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          },
          {
            "schema": {
              "minLength": 6,
              "maxLength": 6,
              "type": "string"
            },
            "in": "path",
            "name": "terminal_friendly_id",
            "required": true,
            "description": "The unique identifier of the terminal."
          }
        ],
        "responses": {
          "200": {
            "description": "Recurring charge accepted for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "transaction_id",
                    "recurring_id",
                    "accepted"
                  ],
                  "properties": {
                    "transaction_id": {
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "order_id": {
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "recurring_id": {
                      "minLength": 8,
                      "maxLength": 8,
                      "type": "string"
                    },
                    "accepted": {
                      "type": "boolean"
[...]
